<section id="error-page" class="page-content">
    <div class="container">
        <div class="page-center-content">
            <div class="text-center error-page">
                <div class="error-content">
                    <img src="/assets/images/404.png" alt="404 error">
                    <h2>{{ '404-error.page_text' | translate }}</h2>
                    <a [routerLink]='["/"]' class="go-back-btn">{{ '404-error.button_text' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</section>