<section id="change-password-page">
    <div id="left-block"></div>
    <div id="right-block">
        <!-- Change Password Form Block -->
        <div id="change-password-form">
            <h1>NZB Cloud</h1>
            <h3>{{ 'change-password.change_text' | translate }}</h3>
            <form
                    [formGroup]="passwordForm"
                    (submit)="changePassword()"
            >
                <div class="form-group relative">
                    <label for="password">{{ 'change-password.new_password_label' | translate }}*</label>
                    <input
                            type="{{inputType}}"
                            [class.input-error]="classError('password')"
                            id="password"
                            autocomplete="off"
                            data-rules="required"
                            formControlName="password"
                            name="password"
                            placeholder="{{ 'global.password_placeholder' | translate }}"
                            (focus)="isCapsLock($event,'password')"
                            (blur)="hideCapsLock()"
                            (keydown)="isCapsLock($event,'password')"
                            [ngClass]="{'caps-lock': passwordCapsLock}"
                    >
                    <div class="visible" (click)="changeInputType('inputType')" [ngClass]="{'active': toggleClassPassword}"></div>
                </div>

                <div class="form-group relative">
                    <label for="confirmPassword">{{ 'change-password.repeat_password_label' | translate }}*</label>
                    <input
                            type="{{inputTypeConfirmation}}"
                            [class.input-error]="classError('password_confirmation') || passwordForm.hasError('mismatch')"
                            id="confirmPassword"
                            autocomplete="off"
                            data-rules="required"
                            formControlName="password_confirmation"
                            name="password_confirmation"
                            placeholder="{{ 'global.confirm_password_placeholder' | translate }}"
                            (focus)="isCapsLock($event,'password_confirmation')"
                            (blur)="hideCapsLock()"
                            (keydown)="isCapsLock($event,'password_confirmation')"
                            [ngClass]="{'caps-lock': passwordConfirmationCapsLock}"
                    >
                    <div class="visible" (click)="changeInputType('inputTypeConfirmation')" [ngClass]="{'active': toggleClassPasswordConfirmation}"></div>
                </div>
                <div class="buttons-block">
                    <button class="btn blue">{{ 'change-password.change_password_button' | translate }}</button>
                </div>
            </form>
        </div>
        <!-- #End Change Password Form Block -->
    </div>
</section>