<section id="forgot-password-page">
    <div id="left-block"></div>
    <div id="right-block">
        <!-- Password Recovery Form Block -->
        <div id="forgot-form" *ngIf="!resetPassword">
            <h1>NZB Cloud</h1>
            <h3>{{ 'forgot-password.forgot_text' | translate }}</h3>
            <form
                    [formGroup]="forgotForm"
                    (submit)="recoveryPassword()"
            >
                <div class="error-message" *ngIf="forgotError">{{forgotError}}</div>
                <div class="form-group">
                    <label>{{ 'global.email_label' | translate }}*</label>
                    <input
                            type="text"
                            [class.input-error]="classError('email')"
                            autocomplete="off"
                            data-rules="required"
                            formControlName="email"
                            name="email"
                            id="email"
                            placeholder="{{ 'global.email_placeholder' | translate }}"
                    >
                </div>

                <div class="form-group buttons-group">
                    <button class="btn blue box-shadow-none" mdbBtn>{{ 'global.send' | translate }}</button>
                </div>
            </form>
        </div>
        <!-- #End Password Recovery Form Block -->

        <!-- Password Recovery Form Block -->
        <div id="forgot-form-success" *ngIf="resetPassword">
            <h1>NZB Cloud</h1>
            <p [innerHtml]="'forgot-password.forgot_activation_text' | translate:user"></p>

            <div class="form-group buttons-group">
                <a [routerLink]="['/login']" mdbBtn class="btn login blue box-shadow-none">{{ 'global.return_to_login' | translate }}</a>
            </div>
        </div>
        <!-- #End Password Recovery Form Block -->
    </div>
</section>

