<table class="table custom-table">
    <tr class="thead">
<!--        <th class="checkbox-cell">-->
<!--            <div class="custom-checkbox">-->
<!--                <input type="checkbox" value="all" id="checkbox-all" name="folder" (change)="check($event, 'all')" [checked]="isAllChecked"/>-->
<!--                <label for="checkbox-all"></label>-->
<!--            </div>-->
<!--        </th>-->
        <th class="files-name">
            <span title="{{ 'files.folder_name' | translate }}">{{ 'files.folder_name' | translate }}</span>
        </th>
        <th class="file-size-cell">{{ 'files.folder_size' | translate }}</th>
        <th class="text-right">{{ 'files.folder_actions' | translate }}</th>
    </tr>
    <tr *ngFor="let folder of folders">
<!--        <td class="checkbox-cell">-->
<!--            <div class="custom-checkbox">-->
<!--                <input type="checkbox" value="{{folder.id}}" id="checkbox-{{folder.id}}"  name="folder"  (change)="check($event)" [checked]="foldersCheckData[folder.id] && foldersCheckData[folder.id].check" [attr.data-path]="folder.path" />-->
<!--                <label for="checkbox-{{folder.id}}"></label>-->
<!--            </div>-->
<!--        </td>-->
        <td class="files-name" *ngIf="!folder.type">
            <a [routerLink]="['/files']" [queryParams]="{ dir: folder.id }" title="{{folder.name}}">
                <span class="icon-folder"></span>
                {{folder.name}}
            </a>
        </td>
        <td class="files-name" *ngIf="folder.type">
            <span *ngIf="folder.video && folder.convert">
                <a [routerLink]="['/video/' + folder.id]" [queryParams]="{ dir: dirId }" title="{{folder.name}}">
                    {{folder.name}}
                </a>
            </span>
            <span *ngIf="!folder.video || (folder.video && !folder.convert)">
                {{folder.name}}
            </span>
        </td>
        <td class="file-size-cell">
            <span>{{helper.humanFileSize(folder.size)}}</span>
        </td>
        <td class="text-right">
            <ul class="list-inline file-action-items">
                <li class="list-inline-item" *ngIf="folder.type">
                    <a (click)="generateLink(folder.fileId, 's3')"><span class="icon-download"></span></a>
                </li>
                <li class="list-inline-item" (click)="openDeleteFolderModal(folder.id)">
                    <span class="icon-cancel-circle"></span>
                </li>
            </ul>
        </td>
    </tr>
</table>

<div class="col-lg-12 text-center">
    <ngb-pagination
        *ngIf="currentPage && folderCount > perPage"
        [collectionSize]="folderCount"
        [(page)]="currentPage"
        [pageSize]="perPage"
        [maxSize]="linkSize"
        [boundaryLinks]="true"
        [class]="'pagination custom-pagination'"
        (pageChange)="setPage($event)"
    ></ngb-pagination>
</div>
